*{
    margin: 5px;
    padding: 6px;
}

body{
    background-image: url("imagess/ashu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#home{
  
    text-align: center;
    margin: 10px;
    font-size: 30px;
    padding: 20px;
    color: rgb(150, 19, 150);
}

#me{
    
    font-size: 25px;
    font-style: italic;
    color: rgb(66, 12, 117);
}

ul{
    float: right;
    list-style-type:none;
    margin-top: 25px;
    
}

ul li.active a{
    background-color: rgb(235, 248, 244);
    color: darkmagenta;
}

ul li{
    display: inline-block;
    font-size: 18px;
}

ul li a{
   
    text-decoration:underline;
    color: rgb(28, 23, 26);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}




